body {
    color: ghostwhite;
    background-color: darkred;
    margin: 0px;
    font-family:"Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(209, 95,91);
    padding-bottom: solid 2px;
    font-size: 32px;
    color: rgb(209, 95,91);
}